build/
cmke-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake

*.o
*.obj
*.so
*.a
*.out
*.bin
*.d
*.ld
*.map

*.log
*~
*.swp

.vscode/

yolo-env/
src/python/__pycache__
yolov8n.pt
